name: Lint and Format Check

on:
  pull_request:
    types: [opened, synchronize]

  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install uv with all available options
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: uv sync
      - name: Lint code with ruff
        run: uv run ruff check .
      - name: Check code formatting with black
        run: uv run black --check .
