name: Tests

on:
  pull_request:
    types: [opened, synchronize]

  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install uv with all available options
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: uv sync
      - name: Set up environment
        run: cp env.example .env
      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
      - name: Start services
        run: docker compose up -d
      - name: Apply migrations
        run: uv run python manage.py migrate
      - name: Run tests
        run: uv run python manage.py test
